
header{
    background-color: mediumpurple;
    color: #fff;
	padding: 5px;
	text-align: center;
}
body{
	height: auto;
	padding: 5px;
}
inside{
	padding: 5px;
	margin: auto;
	height: auto;
	position: absolute;
	max-width: 1000px;
	text-align: center;
	align-items: center;
}

img {
	width:125px;
	height: 125px;
	padding: 5px;
}
h1 {
	text-align: center;
	font-family: times, serif;
	font-size: 2.0rem;
	margin-left: 1rem;
}
h2 {
		font-size: 1.75em;
		color: navy;
		text-align: center;
		margin: 1rem;
	}
nav {
	max-width: 700px;
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 15px;
	right: 15px;
}
.navigation {
	display: flex;
	flex-direction: row;
	
}

.navigation a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "📍";  
}
.active {
	font-weight: bold;
	text-decoration: underline;
}
/* large view navigation ************************************/
@media (min-width: 700px) {
	header{
		padding: 1px;
	}
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
		
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}
	inside{
		left: 25%;
	}
	#menu {
		display: none;  /*hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
	img {
	
		width:300px;
		height: 300px;
		padding: 5px;
	}
	
}
