
body {
    margin: auto;
    grid-gap: 10px;
    max-width: 600px;
    background-color: white;
    display: grid;
    grid-template: 100px/ auto auto auto auto auto auto;
  }
  p, li {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 1.5px;
  }
  h1{
    font-size: 56px;
    letter-spacing: 5px;
  }
  h2{
    font-size:24px;
    letter-spacing: 5px;
    color:rgb(52, 105, 169)
  }
  header {
    text-align: center;
    border-bottom: 2px solid grey;
    grid-column: 1/6;
    height: 350px;
    
  } 
  figure {
    background: lightblue;
    grid-column: 1 / 5;
  }
  main {
    grid-column: 1/6;
    margin: 5px;
    height: auto;
    font-size: 36px;
  }
  footer{
      text-align: center;
      grid-column: 1/6;
      height: 250px;
  }
  .byuimage{
    content: url(byui-logo_blue.jpg);
    width: 284px;
    height: 159px;
  }
  .dark .byuimage{
    content: url(byui-logo_white.jpg);
    width: 284px;
    height: 159px;
  }
  .dark{
    background-color: #333;
    color: white;
  }
  .dark h2 {
    color: white;
    }